body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eee;
}
/* * {
  border: 1px solid black;
} */
.touBuLan {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.zhuQuYu {
  flex: 1;
  display: flex;
  overflow: auto;
}
.ceBianLan {
  width: 250px;
  background-color: white;
}
.neiRongQu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 20px;
}
.shuJuQu {
  display: flex;
  margin: auto;
}
.zuoCe {
  display: flex;
  flex-direction: column;
}
.youCe {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.shuJuKuai {
  height: 200px;
  width: 400px;
  border-radius: 40px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mt20 {
  margin-top: 20px;
}
.logo {
  height: 80px;
  width: 80px;
  border-radius: 15px;
}
h1 {
  font-size: 50px;
  font-family: 宋体;
}
.geRenJianJie {
  height: 100%;
  width: 150px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.geRenJianJieWenZi {
  font-size: 37px;
  color: white;
}
a {
  text-decoration: none;
}
.xuanXiangLan {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #aeaeae;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.xuanXiangLanWenZi {
  margin: 0;
  color: #aeaeae;
  font-size: 25px;
}
p {
  font-family: 宋体;
}
a {
  font-family: 宋体;
}
.hidden {
  display: none;
}
.sjk-img {
  height: 100px;
  width: 100px;
  border-radius: 20px;
}
.imgWenZi {
  margin: 0;
  font-size: 20px;
  color: black;
}
.tiShi {
  display: none;
}
.tiShiKuang {
  flex: 1;
  background-color: black;
  border-right: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tiShiKuangWenZi {
  color: white;
  font-size: small large;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  .ceBianLan {
    width: 200px;
  }
  .shuJuKuai {
    width: 300px;
    height: 200px;
  }
}
@media screen and (max-width: 900px) {
  .ceBianLan {
    width: 200px;
  }
  .shuJuKuai {
    width: 280px;
    height: 180px;
  }
}
@media screen and (max-width: 800px) {
  .ceBianLan {
    display: none;
  }
  .BiaoTi {
    display: none;
  }
  .tiShi {
    display: flex;
    height: 100%;
    width: 60%;
  }
  .geRenJianJieWenZi {
    font-size: x-large;
  }
  .geRenJianJie {
    width: 100px;
  }
}
@media screen and (max-width: 600px) {
  .shuJuQu {
    flex-direction: column;
  }
  .youCe {
    margin-left: 0;
    margin-top: 20px;
  }
  .tiShi {
    width: 50%;
  }
  .geRenJianJie {
    width: 80px;
  }
  .geRenJianJieWenZi {
    font-size: large;
  }
}
@media screen and (max-width: 400px) {
  .shuJuKuai {
    width: auto;
  }
  .tiShi {
    width: 40%;
  }
}
